.App {
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

.header {
  border: solid red 1px;
  grid-area: header;
  justify-content: center;
  background-color: teal;
}

.nav {
  border: solid blue 1px;
  grid-area: nav;
  justify-content: center;
}

.articleList {
  border: solid green 1px;
  grid-area: main;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
}

.ArticlesByTopic {
  border: solid yellow 1px;
  grid-area: main;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
}

.singleArticle {
  border: solid black 1px;
  grid-area: main;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
