.App {
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

.header {
  border: solid red 1px;
  grid-area: header;
  justify-content: center;
  background-color: teal;
}

.nav {
  border: solid rgb(26, 53, 204) 1px;
  grid-area: nav;
  justify-content: center;
  background-color: rgb(231, 177, 231);
}

/* .articleList {
  border: solid green 1px;
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  background-color: rgb(204, 204, 157);
} */

.ArticlesByTopic {
  border: solid rgb(255, 255, 3) 1px;
  grid-area: main;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  background-color: rgb(218, 139, 218);
}

.singleArticleOnHome {
  border: solid black 1px;
  background-color: chocolate;
  grid-area: main;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  max-width: 100%;
  max-height: 15%;
  min-width: 360px;
  display: grid;
}

.articleInFull {
  border: solid black 5px;
}

.articleHeader {
  border: dashed black 1px;
  background-color: rgb(39, 108, 236);
  
}

.articleBody {
  border: dashed black 1px;
  background-color: rgb(112, 161, 250);
  
}
.articleAuthorBox {
  border: dashed black 1px;
  background-color: rgb(147, 181, 246);
 
}
.articleVotingBox {
  border: dashed black 1px;
  background-color: rgb(196, 214, 246);
}
.articleCommentsBox {
  border: dashed black 1px;
  background-color: rgb(153, 161, 175);
}
