.App {
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

.header {
  border: solid red 1px;
  grid-area: header;
  justify-content: center;
  background-color: teal;
}

.nav {
  border: solid rgb(26, 53, 204) 1px;
  grid-area: nav;
  justify-content: center;
  background-color: rgb(231, 177, 231);
}

.topicNavLink:link {
  border: darkblue solid 1px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: black;
  padding: 2px;
}

.topicNavLink:hover {
  border: darkblue solid 1px;
  border-radius: 10px;
  background-color: darkgray;
  color: rgb(20, 10, 6);
  padding: 2px;
}

.topicNavLink:active {
  background-color: blue;
}

.ArticlesByTopic {
  border: solid rgb(255, 255, 3) 1px;
  grid-area: main;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  background-color: rgb(218, 139, 218);
}

.singleArticleOnHome {
  border: solid black 1px;
  background-color: rgb(212, 148, 102);
  grid-area: main;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  max-width: 100%;
  max-height: 15%;
  min-width: 360px;
  display: grid;
}

.singleArticleOnHome:hover {
  background-color: rgb(209, 94, 12);
}

.articleInFull {
  justify-content: center;
  border: solid black 5px;
  background-color: rgb(245, 235, 231);
  max-width: 100vw;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "header header header header"
    "body body body body"
    "authorBox authorBox authorBox authorBox"
    " votes votes votes votes"
    "commentBox commentBox commentBox commentBox"
    "revealedComments revealedComments revealedComments revealedComments"
    "postCommentsContainer postCommentsContainer postCommentsContainer postCommentsContainer";
}

.articleHeader {
  border: dashed black 1px;
  background-color: rgb(39, 108, 236);
  max-width: 85vw;
  grid-area: header;
}

.articleBody {
  border: dashed black 1px;
  background-color: rgb(112, 161, 250);
  max-width: 85vw;
  grid-area: body;
  overflow-wrap: break-word;
}
.articleAuthorBox {
  border: dashed black 1px;
  background-color: rgb(147, 181, 246);
  max-width: 85vw;
  grid-area: authorBox;
  overflow-wrap: break-word;
  max-height: 10vh;
}
.articleVotingBox {
  border: dashed black 1px;
  background-color: rgb(196, 214, 246);
  max-width: 85vw;
  grid-area: votes;
  max-height: 10vh;
}
.articleCommentsBox {
  border: dashed black 1px;
  background-color: rgb(153, 161, 175);
  max-width: 85vw;
  grid-area: commentBox;
  max-height: 10vh;
}

.revealComments {
  border: solid 1px;
  grid-area: revealedComments;
}

.postCommentsContainer {
  border: solid 1px;
  grid-area: postCommentsContainer;
}
.commentCard {
  border: dashed 1px;
}

.loginContainer {
  border: solid black 3px;
  padding: 5px;
  max-width: fit-content;
  text-align: center;
}

.logoutContainer {
  border: solid black 3px;
  max-width: fit-content;
  max-height: fit-content;

  display: grid;
  grid-template: 50% 50%;
  grid-template-areas:
    "avatar userWelcome"
    "avatar UserUsername "
    ". userLogout ";
}

.avatar {
  grid-area: avatar;
  padding: 5px;
  object-fit: cover;
  width: 30%;
  border: black 2px solid;
  grid-area: avatar;
  -moz-box-shadow: 3px 3px 5px 6px rgb(44, 41, 41);
  -webkit-box-shadow: 3px 3px 5px 6px rgb(51, 46, 46);
  box-shadow: 3px 3px 5px 6px rgb(46, 42, 42);
  border-radius: 20%;
}

.userWelcome {
  grid-area: userWelcome;
  object-fit: cover;
}
.UserUsername {
  grid-area: UserUsername;
  object-fit: cover;
}
.userLogout {
  grid-area: userLogout;
  object-fit: cover;
}
